:root{
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Almost-White: hsl(0, 0%, 98%);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}
body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--Almost-White);
}
p{
    font-size: 1.125rem;
}
.container{
    width:90%;
    margin-right: 1rem;
    margin-left: 1rem;
}
.header{
    margin-top: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 20px;
}
.nav-bar a{
    color: var(--Medium-Gray);
    font-weight: 500;
}
.div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feature{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    color: var(--Medium-Gray);
}
.feature h5{
    font-weight: 100;
}
.company .wrapper h5{
    margin-bottom: 1rem;
    color: var(--Medium-Gray);
    font-weight: 100;
}
.registration{
    display: flex;
    gap: 2rem;
}
.login{
    border: none;
    background-color: transparent;
    color: var(--Medium-Gray);
}
.login:hover{
    color:var(--Almost-Black);
    cursor: pointer;
}
.register{
    border-radius: 0.6rem;
    background-color: transparent;
    border: solid 1px;
    border-color: var(--Medium-Gray);
    padding: 8px 12px;
    color: var(--Medium-Gray);
}
.register:hover{
    color: var(--Almost-Black);
    cursor: pointer;
    border-color: var(--Almost-Black);
    outline: none;
}
.wrapper{
    overflow: hidden;
    transition: 0.8s ease;
    height: 0;
}
@media(max-width:599px){
    .menu.active{
        display: none;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        gap: 22px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        padding: 0;
        overflow: hidden;
        width: 0;
        height: 100vh;
        transition: 0.6s ease;
    }
    .nav-bar.active{
        padding: 14px;
        width: 60vw;
    }
    .close{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .nav{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .features{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .wrapper{
        margin-top: 10px;
        margin-left: 20px;
    }
    .features .wrapper.transition{
        height: 125px;
    }
    .feature{
        margin-bottom: 15px;
    }
    .company{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .company .wrapper{
        margin-left: 23px;
        font-size: 19px;
    }
    .company .wrapper.transition{
        height: 96px;
    }
    .registration{
        flex-direction: column;
        justify-content: center;
    }
    .register{
        padding: 10px 33px;
    }
}

@media(min-width:600px){
    .container{
        width:95%;
    }
    .header{
        position:relative;
        margin-top: 1.3rem;
    }
    .menu{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -3px;
    }
    .nav-bar a:hover{
        color: var(--Almost-Black);
    }
    .close{
        display: none;
    }
    .nav-bar a{
        font-size: 14px;
    }
    .nav{
        display: flex;
        gap: 20px;
        position: absolute;
        left: 120px;
    }
    .company{
        position: relative;
    }
    .wrapper{
        background-color: white;
        position: absolute;
        top: 30px;
        left: -41px;
        padding: 0 13px;
        border-radius: 6px;
        box-shadow: 1px 2px 16px var(--Medium-Gray);
    }
    .features .wrapper.transition{
        height: 128px;
        padding-top: 14px;
        padding-bottom: 10px;
    }
    .company .wrapper.transition{
        height: 113px;
        padding-top: 14px;
        padding-bottom: 10px;
    }
    .company .wrapper{
        left: -6px;
    }
}